<%= form_with(model: user, local: true) do |form| %>
  <%= render partial: 'common/error', locals: { model: user } %>

  <div class="grid-x">
    <div class="cell small-12 medium-6">
      <div class="field">
        <%= form.label :user_cd %>
        <%= form.text_field :user_cd %>
      </div>

      <div class="field">
        <%= form.label :user_nm %>
        <%= form.text_field :user_nm %>
      </div>

      <div class="actions">
        <%= form.submit t('view.app.submit'), { class: 'button primary small' } %>
      </div>
    </div>
    <div class="cell auto">
    </div>
  </div>
<% end %>
